* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
    border: 1px solid red;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    padding: 20px;
    text-align: center;
    color: #e53170;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #49a4dd;
}

.box {
    float: left;
    width: calc(100% / 3);
    height: 100px;
    color: white;
    background-color: #0f0e17;
    text-align: left;
    box-shadow: 1px 1px 0.5rem rgba(0,0,0,0.5);
    margin: 10px;
}

.box img {
    float: left;
    width: 100px;
}

.info-persona {
    width: 200px;
    padding: 15px;
    float: left;
    line-height: 24px;
}